# CIC Carpentries Workshop - Day 1 - Part 4
This lesson is adapted from the Data Carpentries [Data Analysis and Visualization in Python for Ecologists](https://datacarpentry.org/python-ecology-lesson/index.html) lesson.

---
## How to use a Jupyter Notebook
Online Resources:
- https://jupyter-notebook-beginner-guide.readthedocs.io/en/latest/index.html
- https://www.packtpub.com/books/content/getting-started-jupyter-notebook-part-1

Useful Tips:
- The notebook autosaves
- You run a cell with **shift + enter** or using the run button in the tool bar
- If you run a cell with **option + enter** it will also create a new cell below
- See *Help > Keyboard Shortcuts* or the *Cheatsheet* for more info
- The notebook has different type of cells (Code and Markdown are most commonly used): 
    - **Code** cells expect code for the Kernel you have chosen, syntax highlighting is available, comments in the code are specified with # -> code after this will not be executed
    - **Markdown** cells allow you to right report style text, using markdown for formatting the style (e.g. Headers, bold face etc)
---

## ❓Questions and Objectives for this Notebook
What should you be able to answer by the end of this notebook?
### Questions

- What types of data can be contained in a DataFrame?
- Why is the data type important?

### Objectives

- Describe how information is stored in a Python DataFrame.
- Define the two main types of data in Python: text and numerics.
- Examine the structure of a DataFrame.
- Modify the format of values in a DataFrame.
- Describe how data types impact operations.
- Define, manipulate, and interconvert integers and floats in Python.
- Analyze datasets having missing/null values (NaN values).
- Write manipulated data to a file.

---
# Types of Data
How information is stored in a DataFrame or a Python object affects what we can do with it and the outputs of calculations as well. There are two main types of data that we will explore in this lesson: numeric and text data types.

# Numeric Data Types
Numeric data types include integers and floats. A **floating point** number (known as a float)  has decimal points even if that decimal point value is 0. For example: 1.13, 2.0, 1234.345. If we have a column that contains both integers and floating point numbers, Pandas will assign the entire column to the float data type so the decimal points are not lost.

An **integer** will never have a decimal point. Thus if we wanted to store 1.13 as an integer it would be stored as 1. Similarly, 1234.345 would be stored as 1234. You will often see the data type `Int64` in Python which stands for 64 bit integer. The 64 refers to the memory allocated to store data in each cell which effectively relates to how many digits it can store in each “cell”. Allocating space ahead of time allows computers to optimize storage and processing efficiency.

# Text Data Type
The text data type is known as a 'string' in Python, or 'object' in Pandas. Strings can contain numbers and / or characters. For example, a string might be a word, a sentence, or several sentences. A Pandas object might also be a plot name like ‘plot1’. A string can also contain or consist of numbers. For instance, ‘1234’ could be stored as a string, as could ‘10.23’. However **strings that contain numbers can not be used for mathematical operations!**  

## Pandas vs Python
Pandas and base Python use slightly different names for data types. More on this is in the table below:

| Pandas Type  |  Native Python Type  | Description  |
|:---:|:---:|:---:|
| object  |  	string  |  The most general dtype. Will be assigned to your column if column has mixed types (numbers and strings). |
|  int64  |  int |  Numeric characters. 64 refers to the memory allocated to hold this character. |
|  float64  |  float  |  Numeric characters with decimals. If a column contains numbers and NaNs (see below), pandas will default to float64, in case your missing value has a decimal.  |
|  datetime64,  timedelta[ns]  |  N/A (but see the [datetime module](https://docs.python.org/2/library/datetime.html) in Python’s standard library)  | Values meant to hold time data. Look into these for time series experiments.  |

# Checking the format of our data
Now that we’re armed with a basic understanding of numeric and text data types, let’s explore the format of our survey data. We’ll be working with the same surveys.csv dataset that we’ve used in previous lessons.

In [ ]:
# Make sure pandas is loaded

# Load data - note that pd.read_csv is used because we imported pandas as pd

Remember that we can check the type of an object like this:  

`type(var_name)`

In [ ]:
# Check the data type of the data frame we made:

Next, let’s look at the structure of our surveys data. In pandas, we can check the type of one column in a DataFrame using the syntax `dataFrameName[column_name].dtype`:

In [ ]:
# Check the data type of the column 'sex'

A type ‘O’ just stands for “object” which in Pandas’ world is a string (text).

In [ ]:
# Now check the column for 'record_id'

The type `int64` tells us that Python is storing each value within this column as a 64 bit integer.   
 
We can use the `dat.dtypes` command to view the data type for each column in a DataFrame (all at once).

Note that most of the columns in our Survey data are of type `int64`. This means that they are 64 bit integers. But the weight column is a floating point value which means it contains decimals. The `species_id` and `sex` columns are objects which means they contain strings.

---
# Working With Integers and Floats
So we’ve learned that computers store numbers in one of two ways: as integers or as floating-point numbers (or floats). Integers are the numbers we usually count with. Floats have fractional parts (decimal places). Let’s next consider how the data type can impact mathematical operations on our data. Addition, subtraction, division and multiplication work on floats and integers as we’d expect.

In [ ]:
# Add some things

In [ ]:
# Subtract some things

If we divide one integer by another, we get a float. The result on Python 3 is different than in Python 2, where the result is an integer (integer division).

In [ ]:
# Divide two integers

In [ ]:
# Try some different numbers!

We can still use integer division if we want with the `//` operator (two division symbols). This will apply a division, but throw away the remainder

In [ ]:
# Now try "Integer" division

We can also convert a floating point number to an integer or an integer to floating point number. Notice that Python by default rounds down when it converts from floating point to integer.

In [ ]:
a = 7.83
# Convert a to an integer

In [ ]:
b = 7
# Convert b to a float

---
# Working With Our Survey Data
Getting back to our data, we can modify the format of values within our data, if we want. For instance, we could convert the record_id field to floating point values.

In [ ]:
# Convert the record_id field from an integer to a float
surveys_df['record_id'] =

### ✏️ Challenge:
Try converting the column plot_id to floats using:  
```py
surveys_df.plot_id.astype("float")
```

Then try converting `weight` to an integer. What goes wrong here? What is Pandas telling you? We will talk about some solutions to this later.

# Missing Data Values - NaN
What happened in the last challenge activity? Notice that this throws one of the following errors: `ValueError: Cannot convert NA to integer` or `IntCastingNaNError: Cannot convert non-finite values (NA or inf) to integer`. If we look at the weight column in the surveys data we notice that there are NaN (Not a Number) values. NaN values are undefined values that cannot be represented mathematically. Pandas, for example, will read an empty cell in a CSV or Excel sheet as a NaN. NaNs have some desirable properties: if we were to average the weight column without replacing our NaNs, Python would know to skip over those cells.

In [ ]:
# Average the weight column

Dealing with missing data values is always a challenge. It’s sometimes hard to know why values are missing - was it because of a data entry error? Or data that someone was unable to collect? Should the value be 0? We need to know how missing values are represented in the dataset in order to make good decisions. If we’re lucky, we have some metadata that will tell us more about how null values were handled.

For instance, in some disciplines, like Remote Sensing, missing data values are often defined as -9999 or -999. Having a bunch of -9999 values in your data could really alter numeric calculations. Often in spreadsheets, cells are left empty where no data are available. Pandas will, by default, replace those missing values with NaN. However it is good practice to get in the habit of intentionally marking cells that have no data, with a no data value! That way there are no questions in the future when you (or someone else) explores your data.

# Where Are the NaN’s?
Let’s explore the NaN values in our data a bit further. Using the tools we learned in lesson 02 (from yesterday!), we can figure out how many rows contain NaN values for weight. We can also create a new subset from our data that only contains rows with weight values > 0 (i.e., select meaningful weight values):

In [ ]:
# How many rows have weight values?

In [ ]:
# How many rows have null values?

We can replace all `NaN` values with zeroes using the `.fillna()` method (after making a copy of the data so we don’t lose our work):

In [ ]:
# Make a copy! Be sure to assign a new variable using the ".copy()" method!

# Now fill all NaN values with 0

However `NaN` and 0 yield different analysis results. The mean value when `NaN` values are replaced with 0 is different from when `NaN` values are simply thrown out or ignored.

In [ ]:
# Check the mean of df1

We can fill `NaN` values with any value that we chose. The code below fills all `NaN` values with a mean for all weight values.

In [ ]:
df1['weight'] = surveys_df['weight'].fillna(surveys_df['weight'].mean())

We could also chose to create a subset of our data, only keeping rows that do not contain NaN values.

The point is to **make conscious decisions about how to manage missing data**. This is where we think about how our data will be used and how these values will impact the scientific conclusions made from the data.

Python gives us all of the tools that we need to account for these issues. We just need to be cautious about how the decisions that we make impact scientific results.

### ✏️ Challenge - Counting
Count the number of missing values per column of the original dataframe `surveys_df`

Hints:  
As with almost everything programming, there are multiple ways to do this.  
  Try the method `.count()`, which gives you the number of non-NA observations per column (we need the NA observations per column).  
  
You could also try using the `.isnull()` or `.isna()` methods too.

# Writing Out Data to CSV
We’ve learned about using manipulating data to get desired outputs. But we’ve also discussed keeping data that has been manipulated separate from our raw data. Something we might be interested in doing is working with only the columns that have full data. First, let’s reload the data so we’re not mixing up all of our previous manipulations.  
We do this with:  
`pd.read_csv("file location")`

In [ ]:
# Read the data in again and store it in memory

Next, let’s drop all the rows that contain missing values. We will use the method `dropna()`. By default, `dropna()` removes rows that contain missing data for even just one column.

In [ ]:
# Create the new dataframe

If you now type `df_na`, you should observe that the resulting DataFrame has 30676 rows and 9 columns, much smaller than the 35549 row original.

We can now use the `to_csv()` method to export a DataFrame in CSV format. Note that the code below will by default save the data into the current working directory. We can save it to a different folder by adding the foldername and a slash before the filename: `df.to_csv('foldername/out.csv')`. We use `index=False` so that pandas doesn’t include the index number for each line.

In [ ]:
# Write DataFrame to CSV file '../data_output/surveys_complete.csv'

We will use this data file later in the workshop. Check out your working directory to make sure the CSV wrote out properly, and that you can open it! If you want, try to bring it back into Python to make sure it imports properly.

---
# Recap
What we’ve learned:
- How to explore the data types of columns within a DataFrame
- How to change the data type
- What NaN values are, how they might be represented, and what this means for your work
- How to replace NaN values, if desired
- How to use to_csv to write manipulated data to a file.

# ❗Key Points


- Pandas uses other names for data types than Python, for example: object for textual data.
- A column in a DataFrame can only have one data type.
- The data type in a DataFrame’s single column can be checked using dtype.
- Make conscious decisions about how to manage missing data.
- A DataFrame can be saved to a CSV file using the to_csv function.