# CIC Carpentries Workshop - Day 1 - Part 5
This lesson is adapted from the Data Carpentries [Data Analysis and Visualization in Python for Ecologists](https://datacarpentry.org/python-ecology-lesson/index.html) lesson.

---
## How to use a Jupyter Notebook
Online Resources:
- https://jupyter-notebook-beginner-guide.readthedocs.io/en/latest/index.html
- https://www.packtpub.com/books/content/getting-started-jupyter-notebook-part-1

Useful Tips:
- The notebook autosaves
- You run a cell with **shift + enter** or using the run button in the tool bar
- If you run a cell with **option + enter** it will also create a new cell below
- See *Help > Keyboard Shortcuts* or the *Cheatsheet* for more info
- The notebook has different type of cells (Code and Markdown are most commonly used): 
    - **Code** cells expect code for the Kernel you have chosen, syntax highlighting is available, comments in the code are specified with # -> code after this will not be executed
    - **Markdown** cells allow you to right report style text, using markdown for formatting the style (e.g. Headers, bold face etc)
---

## ‚ùìQuestions and Objectives for this Notebook
What should you be able to answer by the end of this notebook?

### Questions

- How can I work with data from multiple sources?
- How can I combine data from different data sets?

### Objectives

- Combine data from multiple files into a single DataFrame using merge and concat.
- Combine two DataFrames using a unique ID found in both DataFrames.
- Employ to_csv to export a DataFrame in CSV format.
- Join DataFrames using common fields (join keys).

In many ‚Äúreal world‚Äù situations, the data that we want to use come in multiple files. We often need to combine these files into a single DataFrame to analyze the data. The pandas package provides [various methods for combining DataFrames](https://pandas.pydata.org/pandas-docs/stable/user_guide/merging.html) including `merge` and `concat`.

To work through the examples below, we first need to load both the **species** and **surveys** files into pandas DataFrames as we have done in previous notebooks.  

This time however, we will use the **keyword arguments** `keep_default_na=False` with `na_values=[""]` , which will be explained shortly.

In [ ]:
# import pandas

# load the "data/surveys.csv" dataframe into a python variable

# print the data frame below to check the data

In [ ]:
# load the "data/species.csv" dataframe into a different python variable

# print the data frame below to check the data

As mentioned, take note that the `read_csv` method we used can take some additional options which we didn‚Äôt use previously. Many functions in Python have a set of options that can be set by the user if needed. In this case, we have told pandas to not assign NaN values with its default settings, but to then assign only empty values in our CSV to NaN: `keep_default_na=False, na_values=[""]`. More about all of the `read_csv` options [here](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html#pandas.read_csv).  

If you ever have a method you're not sure how to use, or want to use in a particular way, a quick web search can often give you the answer!

# Concatenating DataFrames
We can use the concat function in pandas to append either columns or rows from one DataFrame to another. Let‚Äôs grab two subsets of our data to see how this works.

In [ ]:
# Read in first 10 lines of surveys table

# Grab the last 10 rows

# Reset the index values to the second dataframe appends properly
# We use the keyword drop=True here to avoid adding new index columns with old index values

In [ ]:
# Have a look!

When we concatenate DataFrames, we need to specify the axis. `axis=0` tells pandas to stack the second DataFrame UNDER the first one. It will automatically detect whether the column names are the same and will stack accordingly. `axis=1` will stack the columns in the second DataFrame to the RIGHT of the first DataFrame. To stack the data vertically, we need to make sure we have the same columns and associated column format in both datasets. When we stack horizontally, we want to make sure what we are doing makes sense (i.e. the data are related in some way).

In [ ]:
# Stack the DataFrames on top of each other

# Place the DataFrames side by side

In [ ]:
# Have a look!

# Row Index Values and Concat

Had a look at the `vertical_stack` dataframe? Notice anything unusual? The row indexes for the two data frames `survey_sub` and `survey_sub_last10` have been repeated. We can reindex the new dataframe using the `reset_index()` method as before.

# Writing Out Data to CSV

We can use the to_csv command to do export a DataFrame in CSV format. Note that the code below will by default save the data into the current working directory. We can save it to a different folder by adding the foldername and a slash to the file vertical_stack.to_csv('foldername/out.csv'). We use the ‚Äòindex=False‚Äô so that pandas doesn‚Äôt include the index number for each line.

In [ ]:
# Write DataFrame to CSV

Check out your working directory to make sure the CSV wrote out properly, and that you can open it!   

If you want, try to bring it back into Python to make sure it imports properly.

In [ ]:
# For kicks read our output back into Python and make sure all looks good

### ‚úèÔ∏è Challenge:
In the data folder, there are two survey data files: surveys2001.csv and surveys2002.csv. Your tasks are:

1. Read the data into Python 
2. Combine the files to make one new data frame. 
3. Create a plot of average plot weight by year grouped by sex. 
4. Export your results as a CSV 
5. Make sure it reads back into Python properly.

# Joining DataFrames

When we concatenated our DataFrames we simply added them to each other - stacking them either vertically or side by side. Another way to combine DataFrames is to use columns in each dataset that contain common values (a common unique id). Combining DataFrames using a common field is called ‚Äújoining‚Äù. The columns containing the common values are called ‚Äújoin key(s)‚Äù. Joining DataFrames in this way is often useful when one DataFrame is a ‚Äúlookup table‚Äù containing additional data that we want to include in the other.

NOTE: This process of joining tables is similar to what we do with tables in an SQL database.

For example, the species.csv file that we‚Äôve been working with is a lookup table. This table contains the genus, species and taxa code for 55 species. The species code is unique for each line. These species are identified in our survey data as well using the unique species code. Rather than adding 3 more columns for the genus, species and taxa to each of the 35,549 line Survey data table, we can maintain the shorter table with the species information. When we want to access that information, we can create a query that joins the additional columns of information to the Survey data.

Storing data in this way has many benefits including:

1. It ensures consistency in the spelling of species attributes (genus, species and taxa) given each species is only entered once. Imagine the possibilities for spelling errors when entering the genus and species thousands of times!
2. It also makes it easy for us to make changes to the species information once without having to find each instance of it in the larger survey data.
3. It optimizes the size of our data.

# Joining Two DataFrames
To better understand joins, let‚Äôs grab the first 10 lines of our data as a subset to work with. We‚Äôll use the .head method to do this. We‚Äôll also read in a subset of the species table.

In [ ]:
# Grab in first 10 lines of the surveys table we loaded in earlier (surveys_df)
surveys_sub = 


# Import a small subset of the species data designed for this part of the lesson.
# It is stored in the data folder.
# Again, use the keywords keep_default_na=False, na_values=[""]
species_sub =

In this example, `species_sub` is the lookup table containing genus, species, and taxa names that we want to join with the data in `survey_sub` to produce a new DataFrame that contains all of the columns from both `species_df` and survey_df.

# Identifying join keys
To identify appropriate join keys we first need to know which field(s) are shared between the files (DataFrames). We might inspect both DataFrames to identify these columns. If we are lucky, both DataFrames will have columns with the same name that also contain the same data.   

If we are less lucky, we need to identify a (differently-named) column in each DataFrame that contains the same information.

In [ ]:
# Visualise species sub columns

In [ ]:
# View surveys_sub columns

In our example, the join key is the column containing the two-letter species identifier, which is called species_id.

Now that we know the fields with the common species ID attributes in each DataFrame, we are almost ready to join our data. However, since there are [different types of joins](https://blog.codinghorror.com/a-visual-explanation-of-sql-joins/), we also need to decide which type of join makes sense for our analysis.

# Inner joins
Inner joins

The most common type of join is called an inner join. An inner join combines two DataFrames based on a join key and returns a new DataFrame that contains **only** those rows that have matching values in both of the original DataFrames.

Inner joins yield a DataFrame that contains only rows where the value being joined exists in BOTH tables. An example of an inner join, adapted from [Jeff Atwood‚Äôs blogpost about SQL joins](https://blog.codinghorror.com/a-visual-explanation-of-sql-joins/), is below:

![An inner join between two tables](../pictures/inner-join.png "An inner join between two tables")

The pandas function for performing joins is called `merge` and an Inner join is the default option:

In [ ]:
# Do an inner merge of "survey_sub" and "species_sub", store the result to "merged_inner"
# In this case `species_id` is the only column name in  both dataframes, so if we skipped `left_on`
# And `right_on` arguments we would still get the same result
merged_inner

In [ ]:
# What's the size of the output data?

In [ ]:
# View the dataframe

The result of an inner join of `survey_sub` and `species_sub` is a new DataFrame that contains the combined set of columns from `survey_sub` and `species_sub`. It only contains rows that have two-letter species codes that are the same in both the `survey_sub` and `species_sub` DataFrames. In other words, if a row in `survey_sub` has a value of `species_id` that does not appear in the `species_id` column of species, it will not be included in the DataFrame returned by an inner join. Similarly, if a row in `species_sub` has a value of `species_id` that does not appear in the species_id column of `survey_sub`, that row will not be included in the DataFrame returned by an inner join.

The two DataFrames that we want to join are passed to the merge function using the left and right argument. The `left_on='species'` argument tells merge to use the `species_id` column as the join key from `survey_sub` (the left DataFrame). Similarly , the `right_on='species_id'` argument tells merge to use the `species_id` column as the join key from `species_sub` (the right DataFrame). For inner joins, the order of the left and right arguments does not matter.

The result `merged_inner` DataFrame contains all of the columns from `survey_sub` (record id, month, day, etc.) as well as all the columns from `species_sub` (species_id, genus, species, and taxa).

Notice that `merged_inner` has fewer rows than `survey_sub`. This is an indication that there were rows in surveys_df with value(s) for `species_id` that do not exist as value(s) for `species_id` in `species_df`.

# Left joins

What if we want to add information from `species_sub` to `survey_sub` without losing any of the information from `survey_sub`? In this case, we use a different type of join called a ‚Äúleft outer join‚Äù, or a ‚Äúleft join‚Äù.

Like an inner join, a left join uses join keys to combine two DataFrames. Unlike an inner join, a `left` join will return all of the rows from the left DataFrame, even those rows whose join key(s) do not have values in the `right` DataFrame. Rows in the `left` DataFrame that are missing values for the join key(s) in the `right` DataFrame will simply have null (i.e., NaN or None) values for those columns in the resulting joined DataFrame.

Note: a left join will still discard rows from the `right` DataFrame that do not have values for the join key(s) in the `left` DataFrame.


![An left join between two tables](../pictures/left-join.png "An left join between two tables")

A left join is performed in pandas by calling the same merge function used for inner join, but using the `how='left'` argument:

In [ ]:
# Create "merged_left", a left merge of "survey_sub" (left) and "species_sub" right

# Now check what we've done

The result DataFrame from a left join (`merged_left`) looks very much like the result DataFrame from an inner join (`merged_inner`) in terms of the columns it contains. However, unlike `merged_inner`, `merged_left` contains the same number of rows as the original `survey_sub` DataFrame. When we inspect `merged_left`, we find there are rows where the information that should have come from `species_sub` (i.e., `species_id`, `genus`, and `taxa`) is missing (they contain NaN values):

In [ ]:
# Check merged_left where the values of "genus" are null

These rows are the ones where the value of `species_id` from `survey_sub` (in this case, PF) does not occur in `species_sub`.

Other join types

The pandas `merge` function supports two other join types:

 - Right (outer) join: Invoked by passing `how='right'` as an argument. Similar to a left join, except all rows from the `right` DataFrame are kept, while rows from the `left` DataFrame without matching join key(s) values are discarded.
 - Full (outer) join: Invoked by passing `how='outer'` as an argument. This join type returns the all pairwise combinations of rows from both DataFrames; i.e., the result DataFrame will be `NaN` where data is missing in one of the dataframes.

# üî• Final Challenges for this Notebook üî•
## ‚úèÔ∏è  Challenge 1. Distributions
Create a new DataFrame by joining the contents of the surveys.csv and species.csv tables. Then calculate and plot the distribution of:
1. `taxa` by `plot`
2. `taxt` by `sex` by `plot`

## ‚úèÔ∏è  Challenge 2. Diversity Index

In the data folder, there is a plots.csv file that contains information about the type associated with each plot. 

1. Use that data to summarize the number of plots by plot type.

2. Calculate a diversity index of your choice for control vs rodent exclosure plots. The index should consider both species abundance and number of species. You might choose to use the simple biodiversity index described [here](https://www.amnh.org/learn-teach/curriculum-collections/biodiversity-counts/plant-ecology/how-to-calculate-a-biodiversity-index) which calculates diversity as:

        the number of species in the plot / the total number of individuals in the plot = Biodiversity index.

# ‚ùóKey Points


- Pandas‚Äô merge and concat can be used to combine subsets of a DataFrame, or even data from different files.

- `join` function combines DataFrames based on index or column.

- Joining two DataFrames can be done in multiple ways (left, right, and inner) depending on what data must be in the final DataFrame.

- `to_csv` can be used to write out DataFrames in CSV format.